@page
@model WebApp1.EmergencyNumbersModel
@{
    ViewData["Title"] = "EmergencyNumbers";
}

<h1>EmergencyNumbers</h1>

<ul>
    <li>Police</li>
    <li>Fire Department</li>
    <li>Ambulance</li>
</ul>

