@page
@model WebApp1.OrganizationsModel
@{
    ViewData["Title"] = "Organizations";
}

<h1>Organizations</h1>

<div class="container">
    <div class="content-page">
        <div class="content" id="master_page_content" style="padding-top: 0px">
            <div class="home-what-i-need">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12 block-title">
                            <h3 class="mb-2 mt-1"> ШТО МИ ТРЕБА?</h3>
                        </div>
                        <div class="col-md-5">
                            <div class="row mt-3">
                                <div class="col-3 m-sm-1 text-center">
                                    <a href="" ><img border="0" src="~/pic/supermarket.png" width="100" height="100" /> SUPERMARKET </a>
                                </div>
                                <div class="col-3 m-sm-1 text-center">
                                    <a href="#" class="win-icon"><img border="0" src="~/pic/restaurant.png" width="100" height="100" /> RESTAURANT </a>
                                </div>                              

                            </div>
                        </div>
                        <div class="col-md-6"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

